@font-face{
	font-family: spartan;
	src: url(src/font/spartan.ttf);
}

body{
	margin: 0px;
	background-color: #21272b;
}

header{
	background-color: black;
	padding: 40px;
}
.header-h1{
	color: white;
	font-family: spartan;
	display: block;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 50px;
	border-left: 1px solid white;
	padding: 20px;
}



.ep{
	display: flex;
	justify-content: space-around;
	border: 1px solid silver;
	width: 600px;
	margin:  auto;
	padding: 30px;
	border-radius: 5px;
}
.more{
	margin-top: 50px;
}
.img-ep{
	width: 250px;
	height: auto;
	border-radius: 10px;
}
.ep-titre{
	color: white;
	font-family: spartan;
}
.ep-more{
	color: silver;
	font-family: spartan;
}

.div-link{
	color: white;
	border: 2px solid white;
	padding: 10px;
	font-family: spartan;
	text-decoration: none;
	width: 625px;
	margin: auto;
	border-radius: 3px;
	display: flex;
	justify-content: flex-start;
}

.text-plateforme{
	font-family: spartan;
	color: white;
	display: block;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 15px;
}
.img-plateforme{
	width: 50px;
	height: auto;
}
.link{
	text-decoration: none;
}
.div-link:hover{
	background-color: #2a3136;
}

footer{
	display: flex;
	justify-content: center;
	padding-top: 30px;
	padding-bottom: 30px;
}
.neitram-link{
	color: black;
	background-color: white;
	font-family: spartan;
	text-decoration: none;
	padding: 12px;
	margin-right: 35px;
	text-align: center;
	border-radius: 5px;
	margin-top: auto;
	margin-bottom: auto;
}
.matteo-link{
	color: white;
	border: 2px solid white;
	font-family: spartan;
	text-decoration: none;
	padding: 12px;
	text-align: center;
	border-radius: 5px;
	display: block;
	margin-top: auto;
	margin-bottom: auto;
}
.neitram-link:hover {
	text-decoration: underline black;
}
.matteo-link:hover{
	text-decoration: underline white;
}
@media screen and (max-width: 1000px){
	.header-h1{
		font-size: 45px;
		text-align: center;
		margin-left: 0px;
		border: none;
	}
	.ep{
		flex-direction: column;
		width: 70%;
		border: none;
	}
	.img-ep{
		width: 500px;
		height: auto;
	}
	.more{
		display: block;
		margin:auto;
	}
	.img-ep{
		display: block;
		margin:auto;
	}
	.link{
		font-size: 35px;
		width: 70%;
		padding: 40px;
	}
	.ep-titre{
		font-size: 35px;
		text-align: center;
	}
	.ep-more{
		font-size: 30px;
		text-align: center;
	}
	.matteo-link{
		font-size: 40px;
		text-align: center;
		padding: 25px;
	}
	.neitram-link{
		font-size: 40px;
		text-align: center;
		padding: 25px;
	}
	.img-plateforme{
	width: 30px;
	height: auto;
}

}